.admin
  %h4 Current orders
  %table.table
    %thead
      %tr
        %th Time placed
        %th Restaurant
        %th Restaurant Address
        %th Customer Address
        %th Customer Name
    %tbody
    - @current_orders.each do |order|
      %tr
        %td= order[:time_placed]
        %td= order[:restaurant_name]
        %td= order[:restaurant_address]
        %td= order[:delivery_address]
        %td= "#{order[:first_name]} #{order[:last_name]}"
