
- if session[:cart] == nil || session[:cart] == []
  %h4 Your cart is empty
- else
  %h4= "Your cart for #{session[:cart][0][:item][:restaurant_name]} is ready for checkout!"
  %a{href: url("restaurants/#{session[:cart][0][:item][:restaurant_id]}") } Continue shopping
  %a{href: url("checkout")} Checkout
  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th Quantity
        %th Total Price
        %th 
    %tbody
    - session[:cart].each do |cart_item|
      %tr
        %td= cart_item[:item][:name]
        %td= cart_item[:item][:description]
        %td= "$%.2f" % cart_item[:item][:price].to_f
        %td
          %form.form-horizontal{method: "POST", action: "cart"}
            .form-group
              %input{type: "hidden", name: "update_quantity_id" , value: "#{cart_item[:item][:item_id]}"}
              %input{type: "number", name: "updated_quantity", value: "#{cart_item[:quantity]}"}
        %td= "$%.2f" % (cart_item[:item][:price].to_f * cart_item[:quantity].to_i)
        %td
          %form.form-horizontal{method: "POST", action: "cart"}
            .form-group
              %input{type: "hidden", name: "remove_id", value: "#{cart_item[:item][:item_id]}"}
              %button.button{type: "submit"} Remove item
    
