.food
  %h4 Search for your favourites
  %form.form-horizontal{method: "GET", action: "food"}
    .form-group
      %input.form-control.full-search{type: "text", name: "name" ,placeholder: "Item name"}
  - if @dishes.any?
    %h4 Dishes
    %table.table
      %thead
        %tr
          %th Name
          %th Restaurant
          %th Description
          %th Price
          %th Preference
          %th 
      %tbody
        - @dishes.each do |dish|
          %tr
            %td= dish[:name]
            %td
              %a{href: url("/restaurants/#{dish[:restaurant_id]}")}= dish[:restaurant_name]
              %td= dish[:description]
              %td= "£%.2f" % dish[:price].to_f
              %td
                - if (@user != nil && @user[:preference_id] == dish[:preference_id])
                  %b= dish[:preference_id]
                - else
                  = dish[:preference_id]
              %td
                %form{method: "POST", action: "cart"}
                  %input{type: "hidden", name: "item_id", value: dish[:item_id]}
                  %input{type: "hidden", name: "quantity", value: 1}
                  %button.btn.btn-default{type: "submit"} Add to cart
  - if @drinks.any?
    %h4 Drinks
    %table.table
      %thead
        %tr
          %th Name
          %th Restaurant
          %th Description
          %th Price
          %th Alcoholic
          %th
      %tbody 
        - @drinks.each do |drink|
          %tr
            %td= drink[:name]
            %td
              %a{href: url("/restaurants/#{drink[:restaurant_id]}")}= drink[:restaurant_name]
            %td= drink[:description]
            %td= "£%.2f" % drink[:price].to_f
            %td
              - if (drink[:is_alcoholic] == 1)
                Yes
              - else
                No
            %td
              %form{method: "POST", action: "cart"}
                %input{type: "hidden", name: "item_id", value: drink[:item_id]}
                %input{type: "hidden", name: "quantity", value: 1}
                %button.btn.btn-default{type: "submit"} Add to cart

