.container
  %h3 Welcome to Hungry Hippo

  %h4 Browse our most popular restaurants

  %label Or search for your favourites!
  %form.form-horizontal{method: "GET", action: ""}
    .form-group
      %input.form-control.full-search{type: "text", name: "name", placeholder: "Search for a restaurant or a signature dish"}

- @restaurants.each do |restaurant|
  = haml :restaurant_partial, locals: {restaurant: restaurant}
  
