!!!
%html
  %head
    %link{rel: :stylesheet, type: "text/css", href: url("bootstrap/css/bootstrap.css")}
    %link{rel: :stylesheet, type: "text/css", href: url("bootstrap/css/bootstrap-theme.css")}
    %link{rel: :stylesheet, type: "text/css", href: url("styles.css")}
    %title Hungry Hippos
  %body
    #header
      %h1 Hungry Hippos
      %nav.navbar.navbar-inverse
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{href: url("/")} Home
            %li
              %a{href: url("/restaurants")} Restaurants
            %li
              %a{href: url("/food")} Food
            %li
              %a{href: url("/cart")} Cart
            %li
              %a{href: url("/orders")} Orders
            %li
              %a{href: url("/admin")} Admin
            - if (session[:user] != nil)
              %li
                %a{href: url("/logout")} Logout
            - else
              %li
                %a{href: url("/register")} Register
            %li.right-menu
              - if (session[:user] != nil)
                %a= "Welcome back #{@user[:first_name]}"
              - else
                %a{href: url("/login")} Login
                
    .container-fluid#content
      -if flash[:success] != nil
        .alert.alert-success
          %strong Success!
          = flash[:success]
      -elsif flash[:warn] != nil
        .alert.alert-warning
          %strong Warning!
          = flash[:warn]
      -elsif flash[:error] != nil
        .alert.alert-danger
          %strong Error!
          = flash[:error]
      =yield

    #footer
      %script{src: url("jquery-3.1.1.js")}
      %script{src: url("bootstrap/js/bootstrap.min.js")}        
      %script{src: url("maps.js")}
      %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyD4G26w5UarhXinF2jlFvf3raKhZFxn1WU&callback=initGoogleMaps", async: true, defer: true}

