.col-md-4.col-md-offset-4.login
  %h4.center Log in with your first name and registed email
  %form.form-horizontal{method: "POST", action: "login"}
    .form-group
      %input.form-control{type: "text", placeholder: "first name", name: "name"}
    .form-group
      %input.form-control{type: "email", placeholder: "email", name: "email"}
    .form-group
      %button.btn.btn-default{type: "submit"} Log in
