.orders
  -if @orders != nil && @orders.any?
    %h4 Your orders with us
    %table.table
      %thead
        %tr
          %th Restaurant name
          %th Total price
          %th Time placed
          %th Time delivered
      %tbody
        - @orders.each do |order|
          %tr
            %td= order[:restaurant_name]
            %td= "$%.2f" % order[:total_price].to_f
            %td= order[:time_placed]
            %td
              -if order[:time_delivered]
                =order[:time_delivered]
              - else
                Order not delivered yet!
  -else
    %h4 You haven't placed any orders with us yet!
