.col-md-4.col-md-offset-4.login
  %h4.center Register with us
  %form.form-horizontal{method: "POST", action: "register"}
    .form-group
      %input.form-control{type: "text", placeholder: "first name", name: "first_name"}
    .form-group
      %input.form-control{type: "text", placeholder: "last name", name: "last_name"}
    .form-group
      %input.form-control{type: "email", placeholder: "email", name: "email"}
    .form-group
      %button.btn.btn-default{type: "submit"} Register
