- if !@restaurants.nil? && @restaurants.any?
  .container
    %p Want something more specific? Try searching!
    - if !@types.nil? && @types.any?
      = haml :types

      - if !@cities.nil? && @cities.any?
        = haml :cities
  - @restaurants.each do |restaurant|
    = haml :restaurant_partial, locals: {restaurant: restaurant}
  
- else
  .container
    %h4 No restaurants found
    %a{href: url("restaurants")} Back
