.restaurant-wrapper
  %a.restaurant-name{href: url("restaurants/#{restaurant[:restaurant_id]}")}= "#{restaurant[:restaurant_name]} - #{restaurant[:addr_city]}"
  .restaurant
    .restaurant-info
      %p= restaurant[:type_id]
      %p= restaurant[:addr_street]
      %p= "#{restaurant[:addr_city]} #{restaurant[:addr_postcode]}"
      %p= "+#{restaurant[:phone_number]}"
      -if restaurant[:most_popular_dish] != nil
        %p= "Famous for their #{restaurant[:most_popular_dish]}"
    %img{src: image_for(restaurant)} 
    .glass-surface
      .glass
        .restaurant-map{id: "#{restaurant[:addr_street]} #{restaurant[:addr_city]} #{restaurant[:addr_postcode]}"}
 
