.right-menu {
    position: absolute !important;
    right: 1%;
}

.center {
    text-align: center;
}

.restaurant-wrapper {
    width: 80%;
    left: 10%;
    position: relative;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    text-align: center;
}

.glass-surface {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.glass {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.restaurant-name {
    color: white;
}

.restaurant-info {
    float: left;
    width: 20%;
    text-align: right;
    font-size: larger;
    padding: 10px;
    position: relative;
    top: 20%;
    height: 60%;
}

.restaurant-name:hover {
    color: blanchedalmond;
}

.restaurant-wrapper > a {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.restaurant {
    width: 100%;
    height: 300px;
}

.restaurant > img {
    float: left;
    height: 300px;
}

.restaurant-image {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    float: left;
    width: 50%;
    height: 100%;
}

.restaurant-map {
    height: 300px;
}

.container {
    width: 80%;
    left: 10%;
}
